.activity-li{
	/*display: inline;*/
	display: -webkit-box;
	position: relative;
	
}
.backbone-li{
	padding: 5px;
	border-right: dashed 1px #ccc;
	border-bottom: dashed 1px #ccc;
}

.backbone-extend{
	width:100px;
	padding: 5px;
	/* border-right: dashed 1px #ccc; */
	border-bottom: dashed 1px #ccc;
}
.backbone-extend-span{
	font-size: 86px;
    color: #2a91d94a;
    /* color: #2a91d9; */
}


.activity-extend-span{
  font-style: inherit;
  font-size: 84px;
  color: #8f3faf6b;
}
.activity-ul{
	display: -webkit-box;
	margin: 5px;
}
.task-li{
	/*display: inline;*/
	/*display: -webkit-box;*/
	position: relative;
	
}
.task-backbone-li{
	display: -webkit-box;
	
	padding: 5px;
	border-right: dashed 1px #ccc;
	border-bottom: dashed 1px #ccc;
	
}
/* .board-line{
position: absolute;
top: 0;
height: 100%;
border-right: dashed 1px #ccc;
right: -5.25px;
}
.board-line-wide{
position: absolute;
top: 0;
height: 100%;

border-right: dashed 1px #ccc;
right: -5.25px;
} */



.modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 800px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}


.modal-body {
  margin: 20px 0;
}

.modal-default-close {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}